<h4>Patient Phone</h4>
<div class="card mb-3 shadow-sm">
  <div class="card-body row">
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3"><strong>Home:</strong><br />{{patient?.phone.home}}</div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3"><strong>Business:</strong><br />{{patient?.phone.business}}</div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3"><strong>Mobile:</strong><br />{{patient?.phone.mobile}}</div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3"><strong>Fax:</strong><br />{{patient?.phone.fax}}</div>
  </div>
</div>
