<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Patient Phone</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">Home:</div>
          <div class="col-sm-3"><span>{{patient?.phone.home}}</span></div>
          <div class="col-sm-3">Business:</div>
          <div class="col-sm-3"><span>{{patient?.phone.business}}</span></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Mobile:</div>
          <div class="col-sm-3"><span>{{patient?.phone.mobile}}</span></div>
          <div class="col-sm-3">Fax:</div>
          <div class="col-sm-3"><span>{{patient?.phone.fax}}</span></div>
        </div>

      </div>
    </div>
  </div>
</div>
