<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Patient Address</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">Address1:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.address1}}</span></div>
          <div class="col-sm-3">Address2:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.address2}}</span></div>
        </div>
        <div class="row">
          <div class="col-sm-3">City:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.city}}</span></div>
          <div class="col-sm-3">State:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.state}}</span></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Zip:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.postCode}}</span></div>
          <div class="col-sm-3">Country:</div>
          <div class="col-sm-3"><span>{{(patient | async)?.address.country}}</span></div>
        </div>

      </div>
    </div>
  </div>
</div>

