<h4>Remove Allergy or Adverse Reaction</h4>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="item-wrap mb-3">
      <span class="name">Allergic to:</span>
      <span class="value">{{ data.classification }}</span>
    </div>
    <div class="item-wrap mb-3">
      <span class="name">Onset Date:</span>
      <span class="value">{{ data.onSetDate }}</span>
    </div>
    <div class="item-wrap">
      <mat-label>End Date:</mat-label>
      <input matInput [matDatepicker]="stopPicker" formControlName="stopDate">
      <mat-datepicker-toggle matSuffix [for]="stopPicker"></mat-datepicker-toggle>
      <mat-datepicker #stopPicker></mat-datepicker>
    </div>
    <div class="item-wrap mb-3">
      <label for="removalReason" class="visually-hidden">Reason for removal:</label>
      <select class="form-control form-control-lg" formControlName="removalReason" id="removalReason" name="removalReason">
        <option *ngFor="let item of removalReason | enumToArray" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mb-1 d-flex justify-content-end">
  <button class="btn btn-lg btn-light" (click)="cancel()">Cancel</button>
  <button class="btn btn-lg btn-danger ml-3" type="submit" [disabled]="form.invalid" [mat-dialog-close]="submit()">Delete</button>
</div>
