<div class="card mb-3 shadow-sm">
  <div class="card-body row card-table" *ngFor="let allergy of allergyList; index as i">
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Name:</strong><br />{{ allergy.name }}
    </div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Description:</strong><br />{{ allergy.description }}
    </div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Category:</strong><br />{{ allergy.classification }}
    </div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Oncet Date:</strong><br />{{ allergy.onSetDate }}
    </div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Criticality:</strong><br />{{ allergy.criticalIndicator | titlecase }}
    </div>
    <div class="card-text col-lg-3 col-md-4 col-sm-6 mb-3">
      <strong>Stop Date:</strong><br />{{ allergy.stopDate }}
    </div>

    <div class="card-text col-12 d-flex justify-content-end">
      <button (click)="edit(i)" class="btn btn-info">Edit</button>
      <button (click)="delete(i)" class="btn btn-danger ml-3">Delete</button>
    </div>
  </div>
</div>
