<div class="row no-gutters">
  <div class="col-md-11">
    <div class="card-body row">
      <h5 class="card-title col-12 text-primary">{{patient.firstName + ' ' + patient.middleName  + ' ' + patient.lastName}}</h5>
      <div class="card-text col-4">{{patient.address.address1 + ' ' + patient.address.address2 }}<br>{{patient.address.city + ' ' + patient.address.state +', '+ patient.address.postCode}}</div>
      <div class="card-text col"><strong>Sex:</strong><br>{{patient.sex}}</div>
      <div class="card-text col"><strong>DOB:</strong><br>{{patient.dateOfBirth}}</div> 
      <div class="card-text col-2"><strong>Home:</strong><br>{{patient.phone.home}}</div>
      <div class="card-text col-2"><strong>Work:</strong><br>{{patient.phone.home}}</div>
    </div>
  </div>
  <div class="col-md-1">
    <img style="width:100px;height:100px;border:1px solid #000;" src="{{patient.patientPicture}}" class="card-img" alt="patient image" />
    
  </div>
</div>
