<!---->
<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened="true" role="navigation">
    <app-sidenav [(sideMenu)]="sideMenu"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <main role="main">
      <div class="row d-flex justify-content-center">
        <div class="col-md-11">
          <button type="button" class="btn" (click)="drawer.toggle()">
            Open Menu
          </button>
          <app-patient-header></app-patient-header>
          <app-patient-personal-information *ngIf="sideMenu === SidebarMenu.PatientInfo"></app-patient-personal-information>
          <app-patient-address *ngIf="sideMenu === SidebarMenu.PatientAddress"></app-patient-address>
          <app-patient-contacts *ngIf="sideMenu === SidebarMenu.PatientContact"></app-patient-contacts>
          <app-patient-phone *ngIf="sideMenu === SidebarMenu.PatientPhone"></app-patient-phone>
          <app-patient-problems *ngIf="sideMenu === SidebarMenu.Problems"></app-patient-problems>
          <app-allergy *ngIf="sideMenu === SidebarMenu.Allergy"></app-allergy>
          <!-- Toolbar -->

          <app-simulator-view *ngIf="sideMenu === SidebarMenu.Simulator"></app-simulator-view>

          <div class="content">
            <!-- Resources -->
            <!-- Footer -->
            Click <a href="#" class="nav-link" onclick='DemoClick()'>here to open this page in Internet Explorer (IE)</a>
          </div>
        </div>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
