<div>
  Name:
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="allergy.name" name="name">

  <br />

  OnSet: <input type="text" class="form-control" id="onSetDate"
                required
                [(ngModel)]="allergy.onSetDate" name="onSetDate">

  <br />
  Reaction: <input type="text" class="form-control" id="reaction"
                   required
                   [(ngModel)]="allergy.description" name="reaction">
  <br />
  Classification:
  <select [(ngModel)]="allergy.classification">
    <option *ngFor="let item of allergyClassification | enumToArray" [value]="item.value">
      {{item.name | titlecase }}
    </option>
  </select>
  <br />

  Criticality:
  <select [(ngModel)]="allergy.criticalIndicator">
    <option *ngFor="let item of allergyCriticality | enumToArray" [value]="item.value">
      {{item.name | titlecase }}
    </option>
  </select>
  <br />
  <br />
  <br />

  <button mat-button id="save" (click)="save()">Add Allergy</button>
</div>
