<h4>Allergy</h4>
<patient-alergies></patient-alergies>
<div class="card mb-3 shadow-sm">
  <div class="card-body row">
    <div class="card-text col-md-4 col-sm-6 mb-3">
      <label for="inputEmail" class="visually-hidden">Name:</label>
      <input type="text" class="form-control form-control-lg" id="inputEmail" required [(ngModel)]="allergy.name" name="name">
    </div>
    <div class="card-text col-md-4 col-sm-6 mb-3">
      <label for="onSetDate" class="visually-hidden">OnSet Date:</label>
      <input type="text" class="form-control form-control-lg" id="onSetDate" required [(ngModel)]="allergy.onSetDate" name="onSetDate">
    </div>
    <div class="card-text col-md-4 col-sm-6 mb-3">
      <label for="reaction" class="visually-hidden">Reaction:</label>
      <input type="text" class="form-control form-control-lg" id="reaction" required [(ngModel)]="allergy.description" name="reaction">
    </div>
    <div class="card-text col-md-4 col-sm-6 mb-3">
      <label for="classification" class="visually-hidden">Category:</label>
      <select [(ngModel)]="allergy.classification" class="form-control form-control-lg" id="classification">
        <option *ngFor="let item of allergyClassification | enumToArray" [value]="item.value">
          {{item.name | titlecase }}
        </option>
      </select>
    </div>
    <div class="card-text col-md-4 col-sm-6 mb-3">
      <label for="criticality" class="visually-hidden">Criticality:</label>
      <select [(ngModel)]="allergy.criticalIndicator" class="form-control form-control-lg" id="criticality">
        <option *ngFor="let item of allergyCriticality | enumToArray" [value]="item.value">
          {{item.name | titlecase }}
        </option>
      </select>
    </div>
      <div class="card-text col-md-4 col-sm-6 mb-3 d-flex align-items-end">
        <button class="btn btn-lg btn-primary w-100" type="submit" id="save" (click)="save()">Add Allergy</button>
      </div>
  </div>
</div>
