.nav-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

  &:hover {
    color: #007bff;
  }

  span {
    min-width: 20px;
    padding: 0;
    margin: 0;
  }
}
