<nav class="d-md-block sidebar">
  <ul class="nav flex-column">
    <li class="nav-item"><a href="#" class="nav-link">Patient info</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Patient adress</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Patient contacts</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Patient Phone</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Problems</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Allergy</a></li>
    <li class="nav-item" aria-current="true"><a href="#" class="nav-link active">About Demo</a></li>
  </ul>
  </nav>
