<nav class="d-md-block sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" (click)="menuClick(SidebarMenu.PatientInfo)">
        Patient info<span class="text-center ml-3 h5"><i class="fas fa-info"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.PatientAddress)">
        Patient adress<span class="text-center ml-3 h5"><i class="far fa-address-book"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.PatientContact)">
        Patient contacts<span class="text-center ml-3 h5"><i class="far fa-address-card"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.PatientPhone)">
        Patient phone<span class="text-center ml-3 h5"><i class="fas fa-mobile-alt"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.Problems)">
        Problems<span class="text-center ml-3 h5"><i class="fas fa-exclamation"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.Allergy)">
        Allergy<span class="text-center ml-3 h5"><i class="fas fa-allergies"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.Simulator)">
        Simulator<span class="text-center ml-3 h5"><i class="far fa-window-restore"></i></span>
      </a>
    </li>
    <li class="nav-item" aria-current="true">
      <a class="nav-link" (click)="menuClick(SidebarMenu.About)">
        About Demo<span class="text-center ml-3 h5"><i class="fas fa-laptop-house"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="menuClick(SidebarMenu.Log)">
        Error Log<span class="text-center ml-3 h5"><i class="fas fa-exclamation-triangle"></i></span>
      </a>
    </li>
  </ul>

  <button class="btn btn-light" (click)="refresh()">Refresh</button>
</nav>
